h1 {color: blue;
    font-family: Helvetica, sans-serif}
 h3 {color: blue;
    font-family: Helvetica, sans-serif}
    p {color: blue;
    font-family: Arial, Helvetica, sans-serif}
    ul {color: blue;
    font-family: Arial, Helvetica, sans-serif}
    a {color: rgb(131, 14, 53);
    font-family: Arial, Helvetica, sans-serif}
 body {background-color: rgb(237, 252, 251);}