body {background-color: rgb(237, 252, 251);}
h1 {color: blue;
font-family: Helvetica, sans-serif}
hr {
    background-color: Blue;
    height: 4px;
    border: 4px;
    color: blue;
    }
h2 {color: blue;
font-family: Helvetica, sans-serif}
p {color: blue;
font-family: Arial, Helvetica, sans-serif}
ul {color: blue;
font-family: Arial, Helvetica, sans-serif}

