body {
    background-color: aliceblue;
    padding: 50px;
    text-align: center;
}

div.samedi1 {
    background-color: rgb(194, 194, 194);
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-left: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

h2.precio {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 7px;
}

div.like {
    width: 25px;
    background-color: rgb(82, 140, 194);
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 25px;
    line-height: 25px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px
}

.fa-bookmark {
    color: white;
    line-height: 25px;
}

i.fa-telegram {
    text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}