.marramiau {width: 40px;
    font-size: 50px;
color: crimson;
padding: 50px;
}
p {font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 10px;
}
div.izquierda,div.derecha {color:black;
}
    
i.uno {background-color: rgb(255, 0, 0);
    padding: 100px;
font-size: 70px;
color: bisque;
margin: 5px;}

i.dos {background-color: rgb(0, 255, 21);
    padding: 100px;
    font-size: 70px;
    color: rgb(0, 0, 0);
    margin: 5px;}

i.tres {background-color: blue;
    padding: 100px;
    font-size: 70px;
    color: bisque;
    margin: 5px;}

i.cuatro {background-color: rgb(235, 255, 56);
    padding: 100px;
    font-size: 70px;
    margin: 5px;}

div.izquierda,div.derecha {text-align: center;}
p {
    width: 1px;
}
a {font-family: Arial, Helvetica, sans-serif;}